<ul>
    {{#replaceSlotsInGameRules}}
        <li>{{#tr}}The Crypt is a video instant game with following feature(s):{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    {{^replaceSlotsInGameRules}}
        <li>{{#tr}}The Crypt is a video slot with the following features:{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
  <div>- {{#tr}}xNudge Wild{{/tr}}</div>
  <div>- {{#tr}}xWays{{/tr}}</div>
  <div>- {{#tr}}Resurrection Spins{{/tr}}</div>
  <div class="rtp boostedBetAllowed">- {{#tr}}xBet{{/tr}}</div>
  {{^replaceWincapInfo}}<div>- {{#tr}}Dead Rising{{/tr}}</div>{{/replaceWincapInfo}}
  <li>{{#tr}}A 6-reel, up to 6-row reel with 15 symbols and cascading reels.{{/tr}}</li>
  <li>{{#tr}}4096 win ways by default (see pay table for more info).{{/tr}}</li>
  <li>{{#tr}}Up to 46656 win ways when xWays symbol expands (see pay table for more info).{{/tr}}</li>
  <li class="rtp">{{#tr}}The theoretical return to the player for this game is <span class="rtp">-1%</span>.{{/tr}}</li>
  <li class="rtp boostedBetAllowed">{{#tr}}The theoretical return to the player for xBet is <span class="rtp-BOOSTED_BET">-2%</span>.{{/tr}}</li>
  <li class="rtp rtp-feature">{{#tr}}The theoretical return to the player for 10 Resurrection Spins feature buy is <span class="rtp-FREESPIN_3_SCATTERS">-3%</span>.{{/tr}}</li>
  <li class="rtp rtp-feature">{{#tr}}The theoretical return to the player for 13 Resurrection Spins feature buy is <span class="rtp-FREESPIN_4_SCATTERS">-4%</span>.{{/tr}}</li>
  <li class="rtp rtp-feature">{{#tr}}The theoretical return to the player for 16 Resurrection Spins feature buy is <span class="rtp-FREESPIN_5_SCATTERS">-5%</span>.{{/tr}}</li>
  <li class="rtp rtp-feature">{{#tr}}The theoretical return to the player for Lucky Draw feature buy is <span class="rtp-LUCKY_DRAW">-6%</span>.{{/tr}}</li>
  <li class="simulated-maximum-payout">{{#tr}}Simulated maximum payout is <span class="maxMultiplier">-1</span> times the bet (<span class="maxMultiplierProbability">-2</span> rounds).{{/tr}} {{#showBaseGameHighestWinInRules}}{{#tr}}This can be achieved by accumulating wins from multiple spins in the game.{{/tr}}{{/showBaseGameHighestWinInRules}}</li>
    {{#showBaseGameHighestWinInRules}}
        <li>{{#tr}}The max win in the base game could be achieved with the below reelset. The probability is 1 in 1000000000 rounds simulated from 1000000000 rounds, higher wins may occur.{{/tr}}</li>
        <img src="{{gamePath}}screens/images/max-win.png">
    {{/showBaseGameHighestWinInRules}}
    {{#replaceWincapInfo}}
        <li>{{#tr}}When the total win exceeds 27000x, the game round will end and 27000 times the base bet is awarded.{{/tr}}</li>
    {{/replaceWincapInfo}}
  <li>{{#tr}}Features and spin results affect each other within a game round.{{/tr}}</li>
  <li>{{#tr}}A Wild symbol substitutes for any other symbol except Scatter.{{/tr}}</li>
  <li>{{#tr}}Cascading reels: Any winning symbols will explode and be removed and let new symbols fall into place which may award additional wins.{{/tr}}</li>
  <li>{{#tr}}Winning combinations and pays are made according to the pay table.{{/tr}}</li>
  <li>{{#tr}}Different reel configurations are used, depending on the game mode (main game or any of the bonus modes).{{/tr}}</li>
  <li>{{#tr}}A Wild symbol substitutes for the highest possible winning combination according to the pay table.{{/tr}}</li>
</ul>
