<!--
    ##READ ME :

    There are two ways of formatting symbol payout multipliers
    1. (default) The multiplier values are to the right of the image.
    2. The multiplier values are below the image.

    To use the second option add the class "column" to the "symbol-group" you would like to format this way.


    Eg. Option 1
     <div class="symbol-group">
        ...
     </div>

    Eg. Option 2
     <div class="symbol-group column">
        ...
     </div>


     PLEASE refrain from adding your own CSS. Instead add an issue in the repo below with the changes you need and well find a solution.
     https://github.com/nolimitcity/nolimit-slot-keypad

-->

<!--PAYOUT-->
<div class="section">
    <h2>{{#tr}}PAYOUT{{/tr}}</h2>

    <!--MID SYMBOLS-->
    <div class="symbol-group column">
        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/M1.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="7.5">7.5</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="4">4</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="2">2</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.75">0.75</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/M2.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="3.75">3.75</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="2">2</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.75">0.75</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.5">0.5</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/M3.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="2.5">2.5</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="1.5">1.5</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.6">0.6</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.45">0.45</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/M4.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="2">2</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="1.25">1.25</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.55">0.55</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.4">0.4</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/M5.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="1.75">1.75</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="1">1</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.5">0.5</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.35">0.35</span>
                </div>
            </div>
        </div>
    </div>

    <!--LOW SYMBOLS-->
    <div class="symbol-group column">
        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/L1.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="1.5">1.5</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="0.8">0.8</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.4">0.4</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.3">0.3</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/L2.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="1.25">1.25</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="0.7">0.7</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.35">0.35</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.25">0.25</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/L3.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="1.1">1.1</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="0.6">0.6</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.3">0.3</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.2">0.2</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/L4.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="1.05">1.05</span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="0.6">0.6</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.3">0.3</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.2">0.2</span>
                </div>
            </div>
        </div>

        <div class="symbol">
            <img src="{{gamePath}}game-history/symbols/L5.jpg">
            <div class="payout-group">
                <div class="payout">
                    <span class="number">6</span>
                    <span class="multiplier" data-multiplier="1">1></span>
                </div>
                <div class="payout">
                    <span class="number">5</span>
                    <span class="multiplier" data-multiplier="0.6">0.6</span>
                </div>
                <div class="payout">
                    <span class="number">4</span>
                    <span class="multiplier" data-multiplier="0.3">0.3</span>
                </div>
                <div class="payout">
                    <span class="number">3</span>
                    <span class="multiplier" data-multiplier="0.2">0.2</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Feature 1-->
<div class="section">
    <h2>COLLAPSING MINE</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_1.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}Each spin begins with 3 active rows and for each collapse an additional row becomes active up till 6 rows.{{/tr}}</p>
            <p>{{#tr}}A new collapse can be triggered by the following events:{{/tr}}
                <br>
                - {{#tr}}A winning combination.{{/tr}}
                <br>
                - {{#tr}}xBomb Wild explosion.{{/tr}}
                <br>
                - {{#tr}}Wild Mining feature triggered.{{/tr}}
            </p>
            <p>{{#tr}}Winning symbols are paid out and removed before triggering next collapse, which will make all symbols fall downwards leaving empty position for new symbols to drop in from above.{{/tr}}</p>
        </div>
    </div>
</div>

<!--Feature 2-->
<div class="section">
    <h2>LUCKY WAGON SPINS</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_2.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}3, 4 or 5 Bonus symbols trigger the Lucky Wagons Spins with 2, 3 or 4 rows of the reel area open initially. The feature starts with 3 spins and will reset to 3 spins every time a coin lands in the reel area. All coin values are valued as times the active bet.{{/tr}}</p>
            <p>{{#tr}}During the feature the top row will reveal enhancers for each spin - Coin values, Multipliers, Dynamite, Beer or Dwarf. An enhancer is activated when a coin lands on the reel below the enhancer.{{/tr}}</p>
        </div>
    </div>

    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_2_5.png">
        </div>
        <div class="featureInfo">
            <p><b>{{#tr}}Upgrade{{/tr}}</b>
                <br>
                {{#tr}}The additional 7th reel may reveal Upgrade symbols each spin. All the enhancer activating Coins landing on the Upgrade symbol row will gain the below additional effect:{{/tr}}</p>
            - {{#tr}}Coin values and Multiplier will cause the Coin to continue to be active for the next spin.{{/tr}}
            <br>
            - {{#tr}}Dynamite, Beer and Dwarf features become persistant features, activating their effects until Lucky Wagon Spins end.{{/tr}}
            <br>
        </div>
    </div>
    
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_2_2.png">
        </div>
        <div class="featureInfo">
            <br>
            <br>{{#tr}}Below enhancers may appear on the top row:{{/tr}}
            <p><b>{{#tr}}Coin values{{/tr}}</b>
            <br>
            {{#tr}}Sets the value of the coin.{{/tr}}</p>
            <p><b>{{#tr}}Multipliers{{/tr}}</b>
              <br>{{#tr}}Multiplies the value of all coins on the reel below the enhancer.{{/tr}}</p>
            <p><b>{{#tr}}Dynamite{{/tr}}</b>
              <br>
              {{#tr}}Adds the Dynamite count as times bet value to the triggering coin. It then throws as many Dynamites as its count on reel positions.{{/tr}}
                <br>
                - {{#tr}}If it lands on Dirt: will remove Dirt symbol.{{/tr}}
                <br>
                - {{#tr}}If it lands on Coin: will double its Coin value.{{/tr}}
                <br>
                - {{#tr}}If it lands on Chest: will activate the Chest.{{/tr}}
            </p>
         </div>
    </div>

    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_2_3.png">
        </div>
        <div class="featureInfo">
          <p><b>{{#tr}}Beer{{/tr}}</b>
          <br>
          {{#tr}}Reactivates 0-5 old Coins which makes them trigger their respective enhancers for the next spin.{{/tr}} {{#tr}}Triggering coin gets value 1x.{{/tr}}</p>
          <p><b>{{#tr}}Dwarf{{/tr}}</b>
          <br>
          {{#tr}}Collects all values in the reel area at the triggering coin position.{{/tr}}
        </div>
    </div>


    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_2_4.png">
        </div>
        <div class="featureInfo">
          <p><b>{{#tr}}Collect chests{{/tr}}</b>
          <br>
          {{#tr}}During the feature the bottom row Collect Chest can be activated by Dynamites. When a Collect Chest is activated it will collect the values in the reel area for the corresponding column above for every spin.{{/tr}}</p>
          <br>
          <p>{{#tr}}Lucky Wagon Spins will end if the reel area is full and there are no active features for remaining spins.{{/tr}}</p>
        </div>
        
    </div>

    
</div>

<!--Feature 3-->
<div class="section">
    <h2>xBOMB WILD MULTIPLIER</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/pageImage_3.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}An xBomb Wild symbol substitutes for any symbol except Bonus symbols.{{/tr}}</p>
            <p>{{#tr}}An exploding xBomb Wild removes adjacent symbols except Bonus symbols and will increase the win multiplier by its value for the next collapse.{{/tr}}</p>
            <p>{{#tr}}All xBomb Wild will explode before the next collapse except when Wild Mining feature is triggered.{{/tr}}</p>
        </div>
    </div>
</div>

<!--Feature 4-->
<div class="section">
    <h2>WILD MINING</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/mining.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}Wild Mining will be triggered in main game when 3, 4, 5 or 6 of the same kind of symbols align horizontally or vertically and there is no winning combination.{{/tr}}</p>
            <p>{{#tr}}The triggering symbols will be removed creating Wild symbols in the middle positions of the alignment:{{/tr}}
                <br>
                - {{#tr}}3 symbols award 1 Wild.{{/tr}}
                <br>
                - {{#tr}}4 symbols award 2 Wilds.{{/tr}}
                <br>
                - {{#tr}}5 symbols award 3 Wilds.{{/tr}}
                <br>
                - {{#tr}}6 symbols award 4 Wilds.{{/tr}}
            </p>
            <p>{{#tr}}All other positions above the bar will explode if not a Bonus or Wild symbol and trigger a new collapse.{{/tr}}</p>
        </div>
    </div>
</div>

<!--Feature 5-->
<div class="section">
    <h2>BURIED FEATURES</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/burried.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}Dirt symbols in main game may contain a Wild, xSplit or Bonus symbols.{{/tr}} {{#tr}}Feature symbols buried in dirt are inactive until the dirt block they are contained in is removed or hit by an xSplit feature.{{/tr}}</p>
        </div>
    </div>
</div>

<!--Feature 6-->
<div class="section">
    <h2>xSPLIT</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/xSplit.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}An xSplit symbol splits symbols on its row, doubling those symbols. Symbols spliting into 8 or more will be shown with a multiplier instead.{{/tr}}</p>
            <p>{{#tr}}Bonus symbols and xSplit symbols cannot be split.{{/tr}}</p>
            <p>{{#tr}}Once all xSplit symbols have activated, they all turn into one of the regular symbols.{{/tr}}</p>
            <p>{{#tr}}Dirt blocks affected by a split feature are removed if there is a collapse.{{/tr}}</p>
        </div>
    </div>
</div>


<!--Feature 7-->
    <div class="section boostedBetAllowed">
    <h2>xBET</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/xBet.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}At the cost of 2.5 times the base bet, at least 1 Bonus symbol is guaranteed on the last inactive row for each spin.{{/tr}}</p>
            <p>{{#tr}}Additionally, all dirt positions are removed from the main game, making the burried features land without the dirt and trigger immediately when they are in the active reels.{{/tr}}</p>
            <p>{{#tr}}The payout for each symbol is not affected.{{/tr}}</p>
        </div>
    </div>
    </div>

<!--Feature 8-->
<li class="rtp-feature GUARANTEED_DWARF" style="list-style: none">
<div class="section">
    <h2>{{#tr}}BONUS BUY - GUARANTEED DWARF{{/tr}}</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}promo-panel/GUARANTEED_DWARF.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}Awards Lucky Wagon Spins with 5 Bonus symbols and a guaranteed persistent Dwarf at a cost of 3600 times the base bet.{{/tr}}</p>
        </div>
    </div>
</div>
</li>


<!--Feature 9-->
{{^replaceWincapInfo}}
<div class="section">
    <h2>ELBEERADO</h2>
    <div class="content">
        <div class="featureImg">
            <img src="{{gamePath}}screens/images/wincap.png">
        </div>
        <div class="featureInfo">
            <p>{{#tr}}Winning 65 000 times the base bet will clean the mine out and the game round will be over.{{/tr}}</p>
        </div>
    </div>
</div>
{{/replaceWincapInfo}}

<!--Win ways asymmetric-->
<div class="section">
    {{^showLowProbabilityGfx}}
        <h2>{{#tr}}64 WIN WAYS BY DEFAULT{{/tr}}</h2>
    {{/showLowProbabilityGfx}}
    {{#showLowProbabilityGfx}}
    <h2>{{#tr}}UP TO 46 656 WIN WAYS{{/tr}}</h2>
    {{/showLowProbabilityGfx}}
    <div class="betlines">
        <span class="betlineNumber">{{#tr}}WIN{{/tr}}</span>
        <div class="betline">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="active"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="betline">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="active"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="active"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <span class="betlineNumber">{{#tr}}NO WIN{{/tr}}</span>
        <div class="betline">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="noWin"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="noWin"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="betline">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="noWin"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="noWin"></td>
                    <td class="noWin"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--FOOTER -->
<footer>
    <p>{{#tr}}Winnings are calculated by multiplying the value of the symbol in paytable and the number of the ways of the winning symbol.{{/tr}} {{#tr}}Only the highest win per bet way is paid.{{/tr}}</p>
    <p>{{#tr}}A winning combination of the same symbol pays from left to right. A malfunction voids all winnings.{{/tr}} </p>
</footer>
