<ul>
    {{#replaceSlotsInGameRules}}
        <li>{{#tr}}Fire In The Hole 2 is a video instant game with following feature(s):{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    {{^replaceSlotsInGameRules}}
        <li>{{#tr}}Fire In The Hole 2 is a video slot with following feature(s):{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    <!-- #237, using div instead of li so that it doesn't have bullet points -->
    <div>{{#tr}}- Collapsing Mine{{/tr}}</div>
    <div>{{#tr}}- xBomb Wild Multiplier{{/tr}}</div>
    <div>{{#tr}}- xSplit{{/tr}}</div>
    <div>{{#tr}}- Buried Features{{/tr}}</div>
    <div>{{#tr}}- Wild Mining{{/tr}}</div>
    <div class="boostedBetAllowed">{{#tr}}- xBet{{/tr}}</div>
    <div>{{#tr}}- Lucky Wagon Spins{{/tr}}</div>
    {{^replaceWincapInfo}}
        <div>{{#tr}}- Elbeerado{{/tr}}</div>
    {{/replaceWincapInfo}}
    {{#replaceSlotsInGameRules}}
        <li>{{#tr}}A 6-reel, up to 6-row video instant game with 12 symbols.{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    {{^replaceSlotsInGameRules}}
        <li>{{#tr}}A 6-reel, up to 6-row video slot with 12 symbols.{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    {{^showLowProbabilityGfx}}
        <li>{{#tr}}64 win ways by default (see pay table for more info).{{/tr}}</li>
    {{/showLowProbabilityGfx}}
    {{#showLowProbabilityGfx}}
        <li>{{#tr}}From 64 ways up to 46656 win ways.{{/tr}}</li>
    {{/showLowProbabilityGfx}}
    <li>{{#tr}}A Wild symbol substitutes for any symbol except Bonus.{{/tr}}</li>
    <li>{{#tr}}A Wild symbol substitutes for the highest possible winning combination according to the pay table.{{/tr}}</li>
    <li>{{#tr}}A winning combination pays from left to right.{{/tr}}</li>
    <li>{{#tr}}Coinciding wins on multiple combinations are paid out.{{/tr}}</li>
    <li>{{#tr}}Winning combinations and pays are made according to the pay table.{{/tr}}</li>
    <li>{{#tr}}Different reel configurations are used, depending on the game mode (main game or any of the bonus modes).{{/tr}}</li>
    <li class="rtp">{{#tr}}The theoretical return to the player for this game is <span class="rtp">-1%</span>.{{/tr}}</li>
    <li class="rtp boostedBetAllowed">{{#tr}}The theoretical return to the player for xBet is <span class="rtp-BOOSTED_BET">-2%</span>.{{/tr}}</li>
    <li class="rtp rtp-feature FREESPIN_LEVEL_1">{{#tr}}The theoretical return to the player for 3 BONUS feature buy is <span class="rtp-FREESPIN_LEVEL_1">-3%</span>.{{/tr}}</li>
    <li class="rtp rtp-feature FREESPIN_LEVEL_2">{{#tr}}The theoretical return to the player for 4 BONUS feature buy is <span class="rtp-FREESPIN_LEVEL_2">-4%</span>.{{/tr}}</li>
    <li class="rtp rtp-feature FREESPIN_LEVEL_3">{{#tr}}The theoretical return to the player for 5 BONUS feature buy is <span class="rtp-FREESPIN_LEVEL_3">-5%</span>.{{/tr}}</li>
    <li class="rtp rtp-feature GUARANTEED_DWARF">{{#tr}}The theoretical return to the player for 5 BONUS - Guaranteed Dwarf feature buy is <span class="rtp-GUARANTEED_DWARF">-6%</span>.{{/tr}}</li>
    <li class="rtp rtp-feature LUCKY_DRAW">{{#tr}}The theoretical return to the player for Lucky Draw feature buy is <span class="rtp-LUCKY_DRAW">-6%</span>.{{/tr}}</li>
    <li class="simulated-maximum-payout">{{#tr}}Simulated maximum payout is <span class="maxMultiplier">-1</span> times the bet (<span class="maxMultiplierProbability">-2</span> rounds).{{/tr}}{{#showBaseGameHighestWinInRules}} {{#tr}}This can be achieved by accumulating wins from multiple spins in the game.{{/tr}}{{/showBaseGameHighestWinInRules}}</li>
    {{#showBaseGameHighestWinInRules}}
        <li>{{#tr}}The max win in the base game could be achieved with the below reelset. The probability is 1 in 3333333333 rounds simulated from 10000000000 rounds, higher wins may occur.{{/tr}}</li>
        <img src="{{gamePath}}screens/images/max-win.png">
    {{/showBaseGameHighestWinInRules}}
    {{#replaceWincapInfo}}
        <li>{{#tr}}When the total win exceeds 65000x, the game round will end and 65000 times the base bet is awarded.{{/tr}}</li>
    {{/replaceWincapInfo}}
    <li>{{#tr}}Features and spin results affect each other within a game round.{{/tr}}</li>
</ul>